*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  perspective: 600px; 
  font-family: cursive;
  font-style: oblique;
}
header{
  width: 100%;
  background-color:rgb(236, 228, 228);
}
.hnavone,.hnavtwo{
  height: 30px;
  display: grid;
  grid-template-columns: repeat(2,auto); 
}
.hnavtwo{
  height: 60px;
  grid-template-columns: repeat(3,auto);
  align-items: center;
}
.list-header-one,.list-header-oneRight{
  display: grid;
  grid-template-columns: repeat(5,auto);
}
.list-header-one,.list-header-oneRight,.list-header-two,.list-header-twoRight,.flogo{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
.LHO ,.LHT,.flogo,.ILHT{
  text-decoration: none;
  color: black;
  position:relative;
  text-transform: capitalize;
  padding: 4px;
}
.LHO::after,.LHO::before ,.LHT::after,.LHT::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 0;
  background-color:rgb(28, 87, 114);
  opacity: 1;
  transition: 1s;
}
.LHO::after,.LHT::after{top:0;left:0;}
.LHO::before,.LHT::before{  bottom:0;right:0;}
.LHO:hover::after ,.LHO:hover::before ,.LHT:hover::after,.LHT:hover::before  {
  height: 100%;
  width: 2px;
  opacity: 1;
}
.lhts::after,.lhts::before{
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background-color: rgb(28, 87, 114);
  transition: 1s;
}
.lhts::after{
  top:0;left: 0;
}
.lhts::before{
  bottom: 0;left: 0;
}
.lhts:hover::after,.lhts:hover::before{
  width: 100%;
  height: 2px;
}
.iho:hover{
  color: rgb(28, 87, 114) ;
  transform: rotateY(180deg);
}
.list-header-two,.list-header-twoRight,.flogo{
  height: 25px;
  justify-content: space-evenly;
}
.flogo{
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}
.iht:hover{
  color: rgb(28, 87, 114) ;
  transform: scale(1.1,1.1);
  font-size: 20px;
  transition: all 1s;
}
.list-header-twoRight{
  justify-content: center;
  gap:10px;
}
 .drop-down-header{
  width: 300px;
  height: 150px;
  border: 1px solid  rgb(28, 87, 114);
  border-radius: 20px;
  box-shadow: 10px 10px 30px rgb(28, 87, 114);
  background-color:rgb(236, 228, 228);
  margin-top: 8px;
  z-index: 2;
  position:absolute;
  display: grid;
  grid-template-columns: repeat(2,auto);
  justify-content:space-evenly;
  align-items:center;
  visibility:hidden;
  transition: all 1s;
 }
 .drop:hover .drop-down-header{
  visibility:visible;
  transform:  scale(1.1,1.1);
 }
 .Ddh:hover{
  transition: all 2s;
  transform:scale(1.1,1);
  color: rgb(28, 87, 114);
 }
/*                      main     */
main{
  width: 100%;
  height: 85vh;
  font-style: italic;
  text-transform:capitalize;
}
.bar{
  height: 30px;
  background-color: rgb(96, 151, 175) ;
  display: flex; 
  justify-content: center;
  align-items: center;
}
.Adicoration{
 color: rgb(231, 231, 231);
}
.Pdicoration{
 padding: 10px;
}
.Pdicoration:hover{
  letter-spacing: 2px;
  cursor: pointer;
}
.parentMAIN{
  width: 100%;
  height: 80vh;
  position: relative;
  background:url(../images/main.jpg)no-repeat fixed ;
  background-size: cover;
   display: flex;
  justify-content: flex-end;
}
.contentMAINparent{
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.titleMain{
  text-shadow: 1px 3px 10px rgb(28, 87, 114);
  font-size:50px ;
  transition: all 2s;
}
.titleMain:hover{
  transition: all 2s;
  transform: scaleX(1.1);
  cursor: pointer;
}
.paragraghMain{
  line-height: 25px;
}
.butMAIN{
  width: 150px;
  height: 60px;
  border: 1px solid rgb(28, 87, 114);
  border-radius: 20px;
  font-family: cursive;
  font-weight:bold;
  text-transform: capitalize;
  box-shadow: 10px 10px 5px 1px rgb(28, 87, 114);
  transition:  2s;
}
.butMAIN:hover{
  color: aliceblue;
  background-color: rgb(56, 90, 141);
  transition: all 2s;
  transform: scale(1.1,1.1);
  box-shadow: 10px 10px 5px 1px rgb(107, 136, 150);
}
/*                          Section one                   */
.SECone{
  width:100%;
  height: 100vh;
  background-color:rgb(236, 228, 228) ;
  display: flex;
  justify-content: center;
}
.parentSECone,.childesSECione,.contentCHILDsecONE{
  position:relative;
}
.parentSECone{
  width:95%;
  display: grid;
  grid-template-rows: 10% 90%;
}
.titleSECone{
  width: 100%;
  height:40px;
  background-color:#fff;
  box-shadow: 10px 15px 5px 5px #444;
  text-transform:capitalize;
  margin-top:40px;
}
.childesSECione{
  display:grid;
  grid-template-columns:repeat(3,auto);
  justify-content:space-evenly;
  align-items:center;
}
.contentCHILDsecONE{
  width: 350px;
  height: 300px;
  border-radius:30px ;
  box-shadow: 20px 20px 5px 5px #444;
  overflow:hidden;
  transition:2s;
  display:flex;
  justify-content:center;
  align-items:flex-end;
}
.imagesSECone{
  position:absolute;
  border-radius:30px;
  transition:transform 0.5s;
}
.imagesSECone:hover{
  transform:scale(1.2);
  transition:1s;
}
.text{
  position:absolute;
  z-index:2;
  font-weight:bold;
  display: flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items:center;
}
.imageTITLEsecone{
  transition: 1s;
  font-size:1.8em;
  color:#fff;
}
.contentCHILDsecONE:hover .imageTITLEsecone{
  transform:translateY(-60px);
}
.paragtextSECone{
  visibility:hidden;
  transform:translateY(10px);
  transition: 1s;
  color:rgba(183, 184, 181, 1);
  text-decoration: underline;
  display: flex;
  justify-content:center
}
.paragtextSECone:hover{
  letter-spacing:1px;
}
.contentCHILDsecONE:hover .paragtextSECone{
  visibility:visible;
  transform:translateY(-40px); 
}
/*                           SECTION TWO            */
.SECtwo,.parentSECtwo{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform:capitalize;
}
.parentSECtwo{
  width: 90%;
  position: relative; 
}
.pSECTWOtitle{
  width: 100%;
  height: 15vh;
  display: grid;
  grid-template-columns: repeat(2,auto);
}
.titleSECtwo{
  display: flex;
  justify-content:flex-start;
  align-items: center;
}
.paragraghstwotitle{
  display:grid;
  grid-template-rows: repeat(2,auto);
  flex-direction:column ;
  align-items: flex-end;
}
.ApSECtwo{
  text-decoration: none;
  color:black;
  display: flex;
  justify-content:space-evenly;
}
.horySECtwoRight{
  width: 50px;
  height: 5px;
  background-color:rgb(28, 87, 114); 
  position:absolute;
  left:730px
}
.horyzintalSECtwo{
  width: 100%;
  height: 2px;
  background-color:rgb(236, 228, 228);
  box-shadow:5px 5px 10px 5px #444;
}
.pchildSECtwo{
  width: 100%;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(4,auto);
  justify-content: space-evenly;
  align-items: center;
}
.childchildSECtwo{
  width: 290px;
  height: 500px;
}
.uicards{
  width: 290px;
  height: 350px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s;
}
.titlecars{
  width: 290px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titlecardstwo{
  font-weight:100px;
}
.parginfotwo{
  width:200px;
  font-size:small;
}
.front,.back{
  width: 100%;
  height:100% ;
  position: absolute;
}
.front{
  z-index: 1;
  backface-visibility: hidden;
}
.back{
  transform: rotateY(180deg);
}
.onetypeF{
  background:url(../images/onefront.jpg)  no-repeat scroll center;
  background-size: cover;
}
.onetypeB{
  background:url(../images/oneback.jpg) no-repeat fixed center;
  background-size:cover;
}
.towtypeF{
  background:url(../images/twofront.jpg)  no-repeat scroll center;
  background-size:cover;
}
.towtypeB{
  background:url(../images/twoback.jpg)no-repeat fixed center;
  background-size:cover;
}
.threetypeF{
  background:url(../images/threefront.jpg)  no-repeat scroll center;
  background-size:cover;
}
.threetypeB{
  background:url(../images/threeback.jpg) no-repeat fixed center;
  background-size:cover;
}
.fourtypeF{
  background:url(../images/fourfrount.jpg)  no-repeat scroll center;
  background-size:cover;
}
.fourtypeB{
  background:url(../images/fourback.jpg) no-repeat fixed center;
  background-size:cover;
}
.uicards:hover{
  transform: rotateY(180deg);
}
.iconss{
  background-color: antiquewhite;
  width: 150px;
  height: 30px;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  top:250px;left:65px;
  opacity: 0;
  transition: 1s;
}
.childchildSECtwo:hover .iconss{
  opacity: 1;transition: 1s;
}
.childchildSECtwo:hover .titlecardstwo{
  color:rgb(28, 87, 114);
}
/*                     section three                                           */
.SECthree,.parentSECthree{
  width:100%;
  height: 90vh;
}
.parentSECthree{
  height: 70vh;
  border: 1px solid rgb(32, 83, 131);
  background-color:rgb(236, 228, 228);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.titleSECthree{
  text-transform: capitalize;
}
.pargSECthreePARENT{
  width: 60%;
  line-height: 30px;
  padding-left:30px;
}
.smollinfoSECthree{
 display: grid;
 grid-template-columns: repeat(2,auto);
 gap: 2px;
}
.cicalIMAGEsecthree{
  width: 80px;
  height: 80px;
  border: 1px solid #444;
  border-radius: 50%;
  background:url(../images/dctour.png) no-repeat center;
  background-size: cover;
}
.contintSECthree{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*                                 section four                       */
.SECfour{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parentSECfour{
  width: 95%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.titleSECfour,.parfrontFOUR{
 text-transform: capitalize;
}
.childsSECfour{
  width: 95%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4,auto);
  justify-content: space-evenly;
  align-items: center;
}
.childchildSECfour{
  width: 270px;
  height: 75vh;
  position: relative;
}
.uifotoSECfour{
  width: 270px;
  height: 50vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}
.contentSECfourCHILD{
  width: 270px;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 2s;
}
.frontFOUR,.backFOUR{
  width: 270px;
  height: 50vh;
  position: absolute;
 transition: all 2s;
}
.frontFOUR{
 z-index: 2;
}
.fourf1{
  background: url(../images/secfourself1.jpg) no-repeat center;
  background-size: cover;
}
.fourb1{
  background: url(../images/secfourself2.jpg) no-repeat center;
  background-size: cover;
}
.fourf2{
  background: url(../images/secfourchoise1.jpg) no-repeat center;
  background-size: cover;
}
.fourb2{
  background: url(../images/secfourchoice2.png) no-repeat center;
  background-size: cover;
}
.fourf3{
  background: url(../images/secfour32.jpg) no-repeat center;
  background-size: cover;
}
.fourb3{
  background: url(../images/secfour3.jpg) no-repeat center;
  background-size: cover;
}
.fourf4{
  background: url(../images/secfour12.png) no-repeat center;
  background-size: cover;
}
.fourb4{
  background: url(../images/secfour2.jpg) no-repeat center;
  background-size: cover;
}
.backFOUR{
  visibility: hidden; 
  transform: translateY(-100%);
}
.childchildSECfour:hover .uifotoSECfour .backFOUR{
  transform: translateY(0);
  visibility: visible;
}
.childchildSECfour:hover .uifotoSECfour .frontFOUR{
  opacity: 0.3;
}
.iconssfour{
  width:120px;
  height: 30px;
  background-color: azure;
  position: absolute;
  top:40vh;left:80px;
  z-index: 3;
  display: flex;
  justify-content: space-evenly;
  opacity: 0;
}
.childchildSECfour:hover .uifotoSECfour .iconssfour{
  opacity: 1;
}
.childchildSECfour:hover .contentSECfourCHILD .titlefrontFOUR{
  color:rgb(28, 87, 114);
  transform: scaleX(1.3);
  transition: all 2s;
}
/*            section five   */
.secfive{
  width: 100%;
  height:120vh;
  background-color:rgb(236, 228, 228);
}
.parentSECfive{
  width: 100%;
  height:120vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.titleSECfive{
  text-transform: capitalize;
}
.childSECfive{
  width: 90%;
  height: 110vh;
  display: grid;
  grid-template-columns: repeat(3,auto);
  justify-content: space-evenly;
  align-items: center;
}
.childchildSECfive{
  width: 350px;
  height: 100vh;
}
.imageSECfive{
  width: 100%;
  height: 60vh;
  border-radius: 30px;
  transform: translateZ(0);
}
.dite{
  background: url(../images/secfivedite.jpg)no-repeat center;
  background-size: cover;
}
.exercizing{
  background: url(../images/secfivesppourt.jpg)no-repeat center;
  background-size: cover;
}
.sleep{
  background: url(../images/secfivesleep.png)no-repeat center;
  background-size: cover;
}
.imageSECfive:hover{
  transform: perspective(800px) translateZ(60px) ;
  transition: all 0.1s ;
}
.contentSECfiveimages{
  width: 100%;
  height: 40vh;
  text-transform: capitalize;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.AqustionSECfive{
  text-decoration: none;
  color: black;
}
.moreSECfive{
  color:rgb(28, 87, 114);
  font-size: 20px;
}
.childchildSECfive:hover .contentSECfiveimages .qustionSECfive{
  color :rgb(28, 87, 114);
}
/*                         section seix           */
.SECseix{
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
.parentSECseix{
  width: 90%;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(3,auto);
  justify-content: space-evenly;
  align-items: center;
}
.childSECseix{
  width:250px ;
  height: 35vh;
  border-radius:30px;
  background-color:rgb(236, 228, 228);
  box-shadow:20px 20px 5px 5px #444;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}
.iconSECseix{
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.one,.two{
  font-size: 60px;
  position: absolute;
  transition: all 0.3s;
}
.one{
 color: rgb(59, 104, 156); 
}
.two{
  color: #444;
  visibility: hidden;
  transform: translateY(80px)
}
.iconSECseix:hover .one{
  transform: translateY(-80px);
  visibility: hidden;
}
.iconSECseix:hover .two{
  visibility: visible;
  transform: translateY(-10px);
}
.pargSECseix{
  color: #4d668d;
}
/*                        footer               */
footer{
  width: 100%;
  height: 80vh;
  background-color:rgb(236, 228, 228);
}
footer,.buttomsfooter,.iconsFOOTER,.iconsFOOTEERcontent,.bottomFOOTER{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer,.inputFOOTER,.footerbtun,.iconsFOOTEERcontent,.bottomFOOTER{
 text-transform:capitalize;
}
.parentFOOTER{
  width: 95%;
  height: 75vh;
  position:relative;
  display:grid;
  grid-template-rows:repeat(3,auto)
}
.footerHEADER{
  width: 100%;
  height: 10vh;
  display: grid;
  grid-template-columns: repeat(3,auto);   
}
.buttomsfooter,.iconsFOOTER{
  transition:1s;
}
.iconsFOOTER{
  gap:20px;
}
.anwien{
  display:flex;
  flex-direction:column;
  justify-content:flex-start
}
.inputFOOTER{
  width:200PX;
  height:40px;
}
.fa-brands{
  font-size: 30px;
  color: rgb(59, 104, 156);
}
.fa-brands:hover{
  transform: scale(1.1,1.1);
}
.fa-facebook:hover{
  color:blue;
}
.fa-whatsapp:hover{
  color:rgb(7, 114, 22);
}
.fa-youtube:hover{
  color:rgb(190, 11, 11);
}
.footerbtun{
  width:130px;
  height:40px;
  background-color: rgb(59, 104, 156); 
  color:#fff;
}
.footerbtun:hover{
  transform:scaleX(1.1)
}
.contentFOOTER{
  width:100%;
  height:50vh;
  display:grid;
  grid-template-columns:20% 80%;
}
.iconsFOOTEERcontent{
  height:50vh;
  font-weight: 900;
  font-size: 30px;
}
.infoLISTheader{
  height:50vh;
  display:grid;
  grid-template-columns:repeat(5,auto);
  justify-content:space-evenly;
  align-items:center;
}
.partSFOOTER{
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items:center;
  line-height: 25px;
}
.bottomFOOTER{
  width:100%;
  height:30px;
}
.titleFOOTER{
  font-size: 20px;
  color:#000000
}
.parFOOTER{
  color:#444;
}
.parFOOTER:hover{
  text-decoration: underline;
  transform: scaleX(1.1);
  transition: 1s;
}
.footer{
  color:#ff0000;
  animation:najah 0.7s linear infinite ;
}
@keyframes najah{
  from{color:#cc0202}
  to{color:rgb(255, 0, 0)}
}